header {
    padding-bottom: 1rem;
}

h1 {
    font-size: 2rem;
        display: inline;
        vertical-align: middle;
}

header nav.navbar div.container-fluid {
    display:inline;
}

.card-body, .card-title, .card-text, .card-img-top, .card-subtitle, .card-text a, .cotizaciondolar, .cotizacioneuro, .cotizacionyuan {
    background-color: white;
}

.card {
    text-align: center;
    display: inline;
}

.card-img-top {
    max-width: 150px;

}

.card-text, .card-title {
    color: black;
}

.card-subtitle {
    padding-bottom: 15px;
}

.card-subtitle span {
    background-color:white;
    color:black;
}

.container.text-center {
    text-align: center;
}