//padding para el header
header {
  padding-bottom: 1rem;
}

//formateo del h1 en el header
h1 {
  font-size: 2rem;
  display: inline;
  vertical-align: middle;
}

//fix para el header y sus childs
header nav.navbar div.container-fluid {
  display: inline;
}

.container.text-center {
  height: 100vh;
}

//ajuste del container de las cards
.container.text-center, .container.text-center .row {
  width: 80vw;
  float:right;
  background-color:#252c2d;
}

//fix para la card y sus childs
.card-body,
.card-title,
.card-text,
.card-img-top,
.card-subtitle,
.card-text a,
.card-subtitle span {
  background-color: white;
  color: black;
}

.card {
  text-align: center;
  display: inline;
  box-shadow: 0 0 10px black;
}

//ajuste img de cada card
.card-img-top {
  max-width: 150px;
}

//paddings y estilizaciones
.card-subtitle {
  padding-bottom: 15px;
}

// ajuste de overlay
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  text-align: center;

  div.card.mx-auto.col-5 {
    max-width: 25%;
    display: inline-block;
    top: 15%;
  }
  form,
  label {
    background-color: white;
    color: black;
  }
  input {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 0.375rem;
  }
  .btn-cancel {
    background-color: red;
    color: white;
    margin-top: 20px;
  }
}

//ajuste del container-aside y los filtros
.container-aside {
  color: white;
  display: inline;
  width: 200px;
  height: 100vh;
  position:absolute;
  padding: 0 0 0 15px;
}

.container-aside,
.container-aside div,
.container-aside p,
.container-aside ul,
.container-aside li,
.container-aside label {
  color: white;
}

.container-aside div {
  padding: 10px 0;
}